body {
    background-color: black;
    color: white;
    margin: 0
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    justify.content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
body.light-mode {
    background-color: white;
    color: black
}
img.hidden {
  display: none;
}
body.light-mode img {
    display: block;
    margin.top; 20px;
    max-width 100%;
    height: auto;
}
button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom 20px;
}
