body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

body.light-mode {
  background-color: white;
  color: black;
}

p {
  text-align: center;
  margin-bottom: 10px; 
}

img.hidden {
  display: none;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-top: 20px auto;
}

.image-container img {
  max-width: 45%;
  height: auto;
  align-items: center;
  border: 1px solid blue
}

@media (max-width: 600px) {
  .image-container {
    flex-direction: column;
    align-items: center;
}

.image-container img {
   max-width: 80%;
   margin-bottom: 10px;
}

body.light-mode img {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
}

button:hover {
  background-color: #1E90FF;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: grey;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #1E90FF;
}

.pagina1 {
  background-color: white;
  color: black;
}

.immagine-pagina {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.pagina1 .bottone-home {
  background-color: blue;
  color: white;
}